*
  box-sizing: border-box

body
  display: flex
  flex-direction: column
  font-family: "MS Sans Serif", Chicago, monospace
  font-size: 14px
  margin: 0

body, html
  height: 100%

// Menus
no-select()
  user-select: none
  -moz-user-select: none
  -webkit-user-select: none
  -ms-user-select: none

ul.menu-options, ul.menu-bar
  no-select()

  background-color: lightgrey
  border-bottom: 1px solid rgba(0, 0, 0, 0.5)

  > li
    list-style-type: none
  
    &.active
      background-color: blue
      color: white
  
    > label
      display: block
      padding: 0 0.25em
      white-space: nowrap
      
      > span.hotkey
        float: right
        margin-left: 1em
  
        &:empty
          margin-left: 0
  
    &[disabled]
      color: gray
  
      &.active
        background-color: rgba(0, 0, 0, 0.125)

ul.menu-options
  border-top: 1px solid rgba(255, 255, 255, 0.5)
  border-left: 1px solid rgba(255, 255, 255, 0.5)
  border-right: 1px solid rgba(0, 0, 0, 0.5)

  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);

  padding: 2px
  padding-bottom: 3px
  position: absolute

ul.menu-bar
  margin: 0
  padding: 0

  > li
    display: inline-block

  &.accelerator-active
    span.accelerator
      text-decoration: underline

li.menu
  > ul.menu-options
    display: none

    // Submenu
    > li.menu
      position: relative

      > label::after
        content: "▸"
        float: right
        line-height: 1em

      > ul.menu-options
        position: absolute
        left: 100%
        top: -3px
        margin-left: 1px

  &.active
    > ul.menu-options
      background-color: lightgrey
      color: black
      display: block

// Modal
#modal
  background-color: rgba(0, 0, 0, 0.25)
  display: none
  position: absolute
  z-index: 9000
  top: 0
  width: 100%
  height: 100%

  &.active
    display: block

  > *
    background-color: white
    border: 1px solid black
    margin: auto
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    max-width: 90%
    max-height: 90%

  input[type=file]
    box-sizing: border-box
    padding: 5em 2em
    width: 320px
    height: 180px
