*
  box-sizing: border-box

body
  display: flex
  flex-direction: column
  font-family: "MS Sans Serif", Chicago, monospace
  font-size: 16px
  margin: 0

body, html
  height: 100%

input, textarea, keygen, select, button
  font-size: inherit
  font-family: inherit
