*
  box-sizing: border-box

body
  display: flex
  flex-direction: column
  font-family: Sans-Serif
  font-size: 14px
  line-height: 18px
  margin: 0

body, html
  height: 100%

input, textarea, keygen, select, button
  font-size: inherit
  font-family: inherit
