window
  background-color: lightgrey
  border: 1px solid black
  display: flex
  flex-direction: column
  padding: 2px
  position: absolute

  > title-bar
    background-color: blue
    color: white
    display: flex

  > content
    min-height: 20px
    min-width: 20px
