no-select()
  user-select: none
  -moz-user-select: none
  -webkit-user-select: none
  -ms-user-select: none

window
  no-select()

  background-color: lightgrey
  border: 4px double black
  display: flex
  flex-direction: column
  position: absolute

  > header
    border-bottom: 1px solid black
    cursor: default
    display: flex
    flex: 0 0 auto

    > close, > control
      color: white
      display: inline-block
      flex: 0 0 auto
      font-family: monospace
      width: 18px
      text-shadow: 1px 0px 0px #000, -1px 0px 0px #000, 0px -1px 0px #000, 0px 1px 0px #000, 1px 1px 0px #808080
      text-align: center

    > title-bar
      background-color: #000080
      border-color: black
      border-style: solid
      border-width: 0 1px
      color: white
      display: inline-block
      flex: 1 1 auto
      padding: 0 2px
      text-align: center

  > viewport
    align-items: center
    display: flex
    height: 100%
    justify-content: center
    overflow: auto

    > *
      margin: auto

  > resize
    display: block
    position: absolute

    &.e, &.w
      cursor: ew-resize

    &.n, &.s
      cursor: ns-resize

    &.h
      height: 4px
      width: 100%

    &.v
      height: 100%
      width: 4px

    &.w
      left: -4px
    &.e
      right: -4px
    &.n
      top: -4px
    &.s
      bottom: -4px

    &.n.w
      cursor: nw-resize

    &.n.e
      cursor: ne-resize

    &.s.e
      cursor: se-resize

    &.s.w
      cursor: sw-resize

    &.n.v
      height: 23px
      border-bottom: 1px solid black

    &.s.v
      height: 23px
      border-top: 1px solid black

    &.e.h
      border-left: 1px solid black
      width: 23px

    &.w.h
      border-right: 1px solid black
      width: 23px
